<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092537734408-0p351ivecbddmrnok0ok03soj4g5v7au.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092537734408-0p351ivecbddmrnok0ok03soj4g5v7au</string>
	<key>API_KEY</key>
	<string>AIzaSyBoL8ICsYAvM9zS11VJqtQ1YAueLd7uUZk</string>
	<key>GCM_SENDER_ID</key>
	<string>1092537734408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RivaletMobile</string>
	<key>PROJECT_ID</key>
	<string>rivlet-7af41</string>
	<key>STORAGE_BUCKET</key>
	<string>rivlet-7af41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092537734408:ios:4e3b0cdfd00162b33808bd</string>
</dict>
</plist>